{% extends 'base.html' %}

{% block content %}

<br/><br/>
<form class="form-inline my-2 my-lg-0" method="POST">
      {% csrf_token %}
      <input class="form-control mr-sm-2" type="search" placeholder="Add Stock Ticker" aria-label="Search" name="ticker">
      <div class="form-group">
            <label for="exampleFormControlSelect1">Period &nbsp</label>
            <select class="form-control mr-sm-2" id="exampleFormControlSelect1">
              <option>1d</option> <option>5d</option> <option>1mo</option> <option>3mo</option> <option>6mo</option>
              <option>1y</option> <option>2y</option> <option>5y</option> <option>10y</option> <option>ytd</option> <option>max</option>
            </select>
      </div>
      <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Submit</button>
</form>
<br/><br/>

{% endblock %}